*
{
    text-decoration:none;
}
a
{
    color: black;
}
input
{
    height: 40px;
    width: 250px;
    border: 1px solid black;
    border-radius:10px;
}
.form
{
    padding:40px 20px;
    margin: 40px 450px;
    background-color: #508C9B;
    color: white;
    text-align: center;
    border-radius: 20px;
}
button
{
    padding: 10px 40px;
    background-color: #fff;
    border: 1px solid #508C9B;
    border-radius: 25px;
    /* color: #fff; */
}