.light_theme {
  color: black;
  background-color: white;
}

.dark_theme {
  color: white;
  background-color: black;
}

button
{
  padding: 5px 50px;
  border: 1px solid black;
  border-radius: 25px;
}