*
{
    text-decoration:none;
}
a
{
  text-decoration: none;
  color: #fff;
}
.products 
{
  border: 2px solid black;
  border-radius: 2px;
  margin: 5% 0%;}

input,select
{
    height: 40px;
    width: 250px;
    border: 1px solid black;
    border-radius:10px;
    padding-left: 10px;
    outline: none;
}
form
{
    padding:40px 50px;
    margin: 40px 450px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
button
{
    width: 90%;
    padding: 10px 40px;
    background-color: #fff;
    border-radius: 25px;
}